<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PHPBooks task</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">PHPBooks task</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select task:
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if isAuthorized() %}
                            <a class="dropdown-item" href="/admin">Admin dashboard</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <a class="dropdown-item" href="/">Show all books</a>
                        <a class="dropdown-item" href="/books/pagination">Books pagination</a>
                        <a class="dropdown-item" href="/books/search">Search a book</a>
                        <a class="dropdown-item" href="/books/filters">Filter/sort books</a>
                    </div>
                </li>

                {% if isAuthorized() %}
                    <li class="nav-item">
                        <a href="/logout" class="btn btn-outline-info">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="/login" class="btn btn-outline-info">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>